:host{
    margin:auto;
    width: 55%;
}

div > div:nth-child(1) > svg {
    width: var(--file-icon-square-size);
    height:var(--file-icon-square-size);
}

div > div:nth-child(5) > svg {
    width: var(--file-icon-square-size);
    height:var(--file-icon-square-size);
}

.file-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    background-color: var(--file-background);
    font-family: var(--file-font-family);
    padding: 1rem;


}

.file-size{
    font-weight: 200;
}

.file-status {
    border: 1px solid black;
    border-radius: 5px;
}

.file-name {
    font-weight: 200;
}

.ready{
    border-color: var(--file-ready-color);
    color: var(--file-ready-color);
}

.processing {
    border-color: var(--file-processing-color);
    color: var(--file-processing-color);
}

.failed {
    border-color: var(--file-failed-color);
    color: var(--file-failed-color);
}